/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --bg-color: rgba(255, 17, 255, 0.058);
  --body-color: #010409;
  --text-color: #eeeeec;
  --text-color-dark: white;
  --white-color: #16171d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  transition: 0.5s;
}

/* Dark Mode */
.dark-mode {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.5s;
}

.dark-mode .navbar {
  color: var(--text-color-dark);
}

.dark-mode #about {
  background-color: var(--body-color);
}

.dark-mode #skils {
  background-color: var(--white-color);
}

.dark-mode #project {
  background-color: var(--body-color);
}

.dark-mode .card {
  background-color: var(--white-color);
  box-shadow: -8px 21px 18px -8px rgb(255, 255, 255);
  -webkit-box-shadow: -8px 21px 18px -8px rgb(255, 255, 255);
  -moz-box-shadow: -8px 21px 18px -8px rgb(255, 255, 255);
}

.navbar {
  transition: top 0.5s;
  font-weight: 600;
}

h2 {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

#hero {
  background-image: url(../img/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.hero .container {
  height: 100vh;
}

.hero .content {
  width: 40%;
}

.hero h3 {
  font-weight: 700;
  font-size: 2rem;
}

.hero p {
  font-weight: 500;
  font-size: 1.5rem;
}

.hero .quote {
  font-size: 1.2rem;
  font-weight: 400;
}

.hero .sosmed a {
  margin-right: 2rem;
  font-size: 1.7rem;
}

#about,
#project {
  padding: 5% 0;
}

.about img {
  /* width: 30rem; */
  height: 20rem;
  border-radius: 7%;
}

.about .about-content p {
  font-size: 1.2rem;
  line-height: 2.4rem;
}

#skils {
  background-color: #f3f3f3;
  padding-top: 10px;
}

.skils img {
  width: 7rem;
  height: 7rem;
  margin: auto;
}

.skils .logo-slider .slick-slide {
  margin: 15px;
}

.skils .item:hover {
  display: block;
  transform: scale(1.1);
  transition: all ease 0.5s;
}

.project .card {
  display: none;
  width: 85%;
  text-align: center;
  margin: 1.5rem 2rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -2px 3px 14px -4px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: -2px 3px 14px -4px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -2px 3px 14px -4px rgba(0, 0, 0, 0.67);
}

.project .card:hover {
  transform: translateY(-7px);
  transition: 0.4s;
  cursor: pointer;
}

.project .card img {
  height: 15rem;
}

.project .load-more {
  animation: upDown 4s infinite;
}

.project .load-more:hover {
  opacity: 0.8;
  transition: 0.8s all;
}

footer .contack a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  margin: 10px;
}

footer .contack a:hover {
  color: #ffb22e;
  transition: 0.5s;
}

footer p {
  font-size: 0.9rem;
}

/* Responsive */

/* Laptop */
@media (max-width: 1024px) {
  .hero .content {
    width: 100%;
    text-align: center;
  }
}

/* Tablet */
@media (max-width: 768px) {
  #hero {
    background-image: none;
    background: rgb(34, 193, 195);
    background: linear-gradient(
      0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(95, 191, 153, 1) 28%,
      rgba(45, 253, 104, 1) 100%
    );
    height: auto;
  }

  .hero .content button {
    font-size: 1.3rem;
  }

  #about,
  #project {
    padding: 10% 0;
  }

  .about-content {
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
}

/* Mobile */
@media (max-width: 456px) {
  .hero .sosmed {
    display: flex;
    justify-content: center;
  }

  .hero .sosmed a {
    margin: 0 1rem;
  }

  .about img {
    width: 85%;
    height: 70%;
  }

  .about .about-content p {
    font-size: 1rem;
    line-height: 2rem;
  }

  .about .about-content button {
    font-size: 0.7rem;
  }

  .skils img {
    width: 5rem;
    height: 5rem;
    margin: auto;
  }

  .skils .logo-slider .slick-slide {
    margin: 10px;
  }

  .project .card {
    width: 80%;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}
